* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/fondo.jpg");
    background-size: cover;
    height: auto;
}

nav {
    list-style: none;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.6em;
    flex-grow: 1;
    justify-content: center;
}

nav a:hover {
    color: rgb(33, 219, 104);
    box-shadow: 10px 10px 100px rgb(37, 255, 182);
    text-shadow: 0px 0px 20px greenyellow;
}

.inicio-h1 {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(55, 175, 81);
    font-size: 3.8em;
    font-weight: 550;
    text-shadow: 5px 5px 10px rgb(12, 12, 12);
}

/* <-----Main-Index-----> */

.index-main {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 20px;
    margin-bottom: 75px;
}

.index-h2 {
    font-size: 2.4em;
    text-align: center;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1vh rgb(200, 221, 238);
}

.fotos-index {
    width: auto;
    height: 300px;
    border: 2px solid rgb(159, 170, 219);
    box-shadow: 0px 0px 30px rgb(79, 139, 250);

}

/* <---------Footer-------> */
footer {
    width: 100%;
    color: wheat;
    background-color: black;
    font-size: 1.2em;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 15px rgb(67, 57, 212);
    bottom: 0;
    position: fixed;
}

.lista-footer {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.lista-footer li,
img {
    display: flex;
    align-items: center;
}

.iconos {
    height: 35px;
    margin-right: 10px;
}

/* <-------------------Galeria-------------------------> */
.paginas-h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(223, 215, 215);
    font-size: 2.3em;
    font-weight: 550;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);                         
    margin: 20px 0px;
}

.galeria-main {
    display: grid;
    justify-items: center;
    gap: 20px;
}

.fotos {
    width: auto;
    height: 300px;
}
/* <--------Datos De Interes-------> */
.datos-grid{
    display: grid;
}

.datos-main{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;    
}
.caja-encabezado{
    width: 95%;
    background-color: rgb(63, 91, 128);
    color: white;
    font-family: "roboto";
    text-align: center;
    border: 5px solid rgb(77, 139, 150);
    border-radius: 10px;
    box-shadow: 0px 0px 20px wheat;
    padding: 10px;
    margin-bottom: 25px;
}
.cajas-datos{
    width: 75%;
    border: 5px solid rgb(176, 180, 160);
    background-color: rgb(65, 121, 139);
    color: wheat;
    box-shadow: 0px 0px 20px wheat;
    font-family: "roboto";
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px ;
}
/* <------Sobre Nosotros------> */
.about-grid{

}
.about-main{
    width: 100%;
    height:70h;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:  15vh 15vh 40vh;
    grid-template-areas: "h2-about" "descp" "tablas";
    justify-items: center;
    
  
}
 .h2-about{
    text-align: center;
    font-size: 1.5em;
    color: rgb(69, 204, 136);
    text-shadow: 0px 0px 20px rgb(24, 26, 25);
    grid-area: h2-about;
}
.madera-descp{
    color: white;
    font-family: "roboto", sans-serif;
    font-size: 1.3em;
    text-align: center;
    text-shadow: 0px 0px 10px rgb(219, 210, 210);
    grid-area: descp;
}
.tablas{
    width: auto;
    height: 140px;
    grid-area: tablas;    
}
/* <--------Contacto-------> */
.h1-contacto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(223, 215, 215);
    font-size: 1.4em;
    font-weight: 550;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);                         
    margin: 20px 0px;
}
.contacto-main{
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "fieldset" "mapa-div";
    
}
fieldset{   
            width: 100%;
            height: 40vh;
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 0.9em;
            background-color: rgb(46, 40, 40);
            opacity: 0.6;
            border-radius: 10px;
            border: 0px;
            box-shadow: 0px 0px 10px white;
            grid-area: fieldset;
 }
 input{
    text-align: center;
    border-radius: 5px;
    border: 3px solid rgb(129, 115, 115);
 }
 .enviar{
    margin-top: 5px;
    padding: 0.3em 2em;
    font-size: 1em;
    border-radius: 10px;
}    
 .mapa-div{
    height: 40vh;
    display: flex;
    flex-direction: column;    background-color: rgb(46, 40, 40);
            opacity: 0.7;
            border-radius: 10px;
            border: 0px;
            box-shadow: 0px 0px 10px white;
            margin-bottom: 70px; 
            grid-area: mapa-div;
 } 
 .h2-mapa{
    /* margin: 20px 0; */
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.4em;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
 }
 iframe{
    width: 100%;
    height: 200px;
padding: 5px 10px;
margin-top: 20px;
}

/* <-----Media Query-----> */
@media screen and (min-width:1024px) {
    nav {
        list-style: none;
        font-size: 1.3em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }

    .index-main {
        width: 100%;
        height: 66vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content auto;
        grid-template-areas: "h2-grid h2-grid h2-grid"
            "fotos-grid fotos-grid fotos-grid";
        gap: 50px;
        align-items: center;
    }

    .index-h2 {
        font-size: 2.4em;
        text-align: center;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 1vh rgb(200, 221, 238);
        grid-area: h2-grid;
    }

    .fotos-index {
        align-self: center;
        height: 370px;
        margin-top: -30px;
    }

    footer {
        font-size: 1.5em;
      
        display: flex;
        justify-content: center;
    }

    .lista-footer {
        list-style: none;
        display: flex;

    }

    .iconos {
        height: 35px;
        margin-left: 8vw;
    }

    .paginas-h1 {
        font-size: 3.3em;
    }

    .galeria-main {
        display: grid;
        justify-items: center;
        grid-template-columns: 50vw 50vw;
        gap: 20px;
        margin-bottom: 50px;
    }

    .fotos {
        width: auto;
        height: 450px;
    }
    /* <------Datos de interes -----> */
    .datos-main{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        font-size: 1.3em;   
    }
    .cajas-datos{
        width: 40%;
    }
 /* <------Sobre Nosotros------> */
     .about-main{
        margin-top: 8vh;
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "h2-about h2-about"
                            "descp tablas";
       align-items: center;
 }
    .h2-about{
        font-size: 2.5em;
        grid-area: h2-about;
    }
    .madera-descp{
        font-size: 2em;
        width: 50%;
     
    }
    .tablas{
        height: 270px;
    }
    /* <-------Contacto-------> */
    .h1-contacto{
        font-size: 1.7em;
    }

    .contacto-main{
        display: grid;
        height: 80%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "fieldset mapa-div";
        justify-items: center;
    }
    .fieldset{
        height: 65vh;
        width: 45vw;
        font-size: 1.6em;
        grid-area: fieldset;
        
    }
    .enviar{
        margin-top: 15px;
        padding: 0.3em 2em;
        font-size: 0.8em;
        border-radius: 10px;
    }
    .mapa-div{
        height: 65vh;
        width: 45vw;
        grid-area: mapa-div;
        margin-bottom: 0px; 
    }
    .h2-mapa{
        margin-top: 0px;
        font-size: 1.6em;
    }
    .iframe{
        width: 100%;
        height: 80%;
        margin-top: 20px;    
    }
    
}